<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transaction">
            <h2><span>Transaction</span> {{transaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Authorization</span></dt>
                <dd>
                    <span>{{transaction.authorization}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{transaction.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{transaction.updatedAt}}</span>
                </dd>
                <dt><span>Shopify Transaction Id</span></dt>
                <dd>
                    <span>{{transaction.shopifyTransactionId}}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <div *ngIf="transaction.orderId">
                        <a [routerLink]="['/order', transaction.orderId, 'view']">{{transaction.orderId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction', transaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
