<div>
    <h2 id="page-heading">
        <span>Paypal Histories</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paypal-history" [routerLink]="['/paypal-history/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Paypal History
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="paypalHistories?.length === 0">
        <span>No paypalHistories found</span>
    </div>
    <div class="search-zone">
        <div class="search-input-zone" (click)="setFocus()">
            <i class="fa fa-search blend-icon"></i>
            <input #searchCondition
                   type="text"
                   class="blend-search-input"
                   [ngClass]="{
                'blend-search-null': searchText == '',
                'blend-search-not-null': searchText != ''
            }"
                   name="item"
                   placeholder="Search"
                   maxlength="50"
                   [(ngModel)]="searchText"
                   (keyup.enter)="querySearch()">
            <i class="fa fa-times-circle blend-icon"
               *ngIf="searchText != ''"
               (click)="removeSearchText()">
            </i>
        </div>
        <button type="button"
                class="blend-btn search-btn-style"
                (click)="querySearch()">
            SEARCH
        </button>
    </div>
    <div class="table-responsive" *ngIf="paypalHistories?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyOrderId"><span>Shopify Order Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyOrderName"><span>Shopify Order Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyTrackingNumber"><span>Shopify Tracking Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyAuthorizationKey"><span>Shopify Authorization Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyShippingStatus"><span>Shopify Shipping Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="carrier"><span>Carrier</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span>Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paypalHistory of paypalHistories ;trackBy: trackId">
                <td><a [routerLink]="['/paypal-history', paypalHistory.id, 'view' ]">{{paypalHistory.id}}</a></td>
                <td>{{paypalHistory.shopifyOrderId}}</td>
                <td>{{paypalHistory.shopifyOrderName}}</td>
                <td>{{paypalHistory.shopifyTrackingNumber}}</td>
                <td>{{paypalHistory.shopifyAuthorizationKey}}</td>
                <td>{{paypalHistory.shopifyShippingStatus}}</td>
                <td>{{paypalHistory.carrier}}</td>
                <td>{{paypalHistory.status}}</td>
                <td>{{paypalHistory.createdAt | date:'medium'}}</td>
                <td>{{paypalHistory.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/paypal-history', paypalHistory.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/paypal-history', paypalHistory.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/paypal-history', { outlets: { popup: paypalHistory.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="paypalHistories?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
