<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-store-heading">Create or edit a Store</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shopifyApiKey">Shopify Api Key</label>
                    <input type="text" class="form-control" name="shopifyApiKey" id="field_shopifyApiKey"
                           formControlName="shopifyApiKey"/>
                    <div *ngIf="editForm.get('shopifyApiKey').invalid && (editForm.get('shopifyApiKey').dirty || editForm.get('shopifyApiKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopifyApiKey').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shopifyApiPassword">Shopify Api Password</label>
                    <input type="text" class="form-control" name="shopifyApiPassword" id="field_shopifyApiPassword"
                           formControlName="shopifyApiPassword"/>
                    <div *ngIf="editForm.get('shopifyApiPassword').invalid && (editForm.get('shopifyApiPassword').dirty || editForm.get('shopifyApiPassword').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopifyApiPassword').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_storeName">Store Name</label>
                    <input type="text" class="form-control" name="storeName" id="field_storeName"
                           formControlName="storeName"/>
                    <div *ngIf="editForm.get('storeName').invalid && (editForm.get('storeName').dirty || editForm.get('storeName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('storeName').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" formControlName="createdAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" formControlName="updatedAt" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shopifyApiUrl">Shopify Api Url</label>
                    <input type="text" class="form-control" name="shopifyApiUrl" id="field_shopifyApiUrl"
                           formControlName="shopifyApiUrl"/>
                    <div *ngIf="editForm.get('shopifyApiUrl').invalid && (editForm.get('shopifyApiUrl').dirty || editForm.get('shopifyApiUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('shopifyApiUrl').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_automationStatus">Automation Status</label>
                    <input type="checkbox" class="form-control" name="automationStatus" id="field_automationStatus"
                           formControlName="automationStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sinceId">Since Id</label>
                    <input type="number" class="form-control" name="sinceId" id="field_sinceId"
                           formControlName="sinceId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paypal">Paypal</label>
                    <select class="form-control" id="field_paypal" name="paypal" formControlName="paypalId">
                        <option *ngIf="!editForm.get('paypalId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="paypalOption.id" *ngFor="let paypalOption of paypals; trackBy: trackPaypalById">{{paypalOption.id}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('paypalId').invalid && (editForm.get('paypalId').dirty || editForm.get('paypalId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('paypalId').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
