<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tracking">
            <h2><span>Tracking</span> {{tracking.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tracking Number</span></dt>
                <dd>
                    <span>{{tracking.trackingNumber}}</span>
                </dd>
                <dt><span>Tracking Company</span></dt>
                <dd>
                    <span>{{tracking.trackingCompany}}</span>
                </dd>
                <dt><span>Tracking Url</span></dt>
                <dd>
                    <span>{{tracking.trackingUrl}}</span>
                </dd>
                <dt><span>Paypal Tracker Id</span></dt>
                <dd>
                    <span>{{tracking.paypalTrackerId}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{tracking.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{tracking.updatedAt}}</span>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <div *ngIf="tracking.orderId">
                        <a [routerLink]="['/order', tracking.orderId, 'view']">{{tracking.orderId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tracking', tracking.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
