<div>
    <h2 id="page-heading">
        <span>Orders</span>
<!--        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order" [routerLink]="['/order/new']">-->
<!--            <fa-icon [icon]="'plus'"></fa-icon>-->
<!--            <span >-->
<!--            Create a new Order-->
<!--            </span>-->
<!--        </button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orders?.length === 0">
        <span>No orders found</span>
    </div>
    <div class="search-zone">
        <div class="search-input-zone" (click)="setFocus()">
            <i class="fa fa-search blend-icon"></i>
            <input #searchCondition
                   type="text"
                   class="blend-search-input"
                   [ngClass]="{
                'blend-search-null': searchText == '',
                'blend-search-not-null': searchText != ''
            }"
                   name="item"
                   placeholder="Search"
                   maxlength="50"
                   [(ngModel)]="searchText"
                   (keyup.enter)="querySearch()">
            <i class="fa fa-times-circle blend-icon"
               *ngIf="searchText != ''"
               (click)="removeSearchText()">
            </i>
        </div>
        <button type="button"
                class="blend-btn search-btn-style"
                (click)="querySearch()">
            SEARCH
        </button>
    </div>
    <div class="table-responsive" *ngIf="orders?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span>Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span>Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderNumber"><span>Order Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="shopifyOrderId"><span>Shopify Order Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderName"><span>Order Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="storeId"><span>Store</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders ;trackBy: trackId">
                <td><a [routerLink]="['/order', order.id, 'view' ]">{{order.id}}</a></td>
                <td>{{order.createdAt | date:'medium'}}</td>
                <td>{{order.updatedAt | date:'medium'}}</td>
                <td>{{order.orderNumber}}</td>
                <td>{{order.shopifyOrderId}}</td>
                <td>{{order.orderName}}</td>
                <td>
                    <div *ngIf="order.storeId">
                        <a [routerLink]="['/store', order.storeId , 'view' ]" >{{order.storeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order', order.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/order', order.id, 'edit']"-->
<!--                                class="btn btn-primary btn-sm">-->
<!--                            <fa-icon [icon]="'pencil-alt'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Edit</span>-->
<!--                        </button>-->
<!--                        <button type="submit"-->
<!--                                [routerLink]="['/order', { outlets: { popup: order.id + '/delete'} }]"-->
<!--                                replaceUrl="true"-->
<!--                                queryParamsHandling="merge"-->
<!--                                class="btn btn-danger btn-sm">-->
<!--                            <fa-icon [icon]="'times'"></fa-icon>-->
<!--                            <span class="d-none d-md-inline">Delete</span>-->
<!--                        </button>-->
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orders?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
